<h1>Test App</h1>

<ul>
	<li><%= link_to "Articles", articles_path %></li>
	<li><%= link_to "Categories", categories_path %></li>
	<li><%= link_to "Products", products_path %></li>
	<li><%= link_to "Pages", pages_path %></li>
</ul>